body {
  font-family: Arial, sans-serif;
  background: #e1e5eb;
  margin: 0;
  padding: 0;
}

h1, h2 {
    text-align: center;
    margin: auto;
    color: navy;
    font-family: 'Comic Sans MS', cursive, sans-serif;
}

ul{
    list-style-type: none;
    text-align: center;
    margin: 30px auto;
}

li {
    text-align: center;
    list-style-type: none;
    padding: 5px;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


img {
    text-align: center;
    border-radius: 50px;
    display: block;
    margin: auto;
    padding: 10px;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
}

a {
    color: #0d4a1e;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: larger;
}

button {
    background-color: grey;
    border: none;
    border-radius: 200px;
    cursor: pointer;
    transition: background-color 0.7s, transform 0.3s;
}

button:hover {
    background-color: #168837;
    transform: scale(1.03);
}

